body{
    font-family: 'Poppins', sans-serif;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
}
/* this part is for the header */
/* and the banner */
.container{
    display: flex;
    background-color: black;
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 139px;
    border-radius: 30px;
}
.half-width{
    color: white;
    font-weight: 700;
    width: 50%;
    height: 230px;
    padding-left: 106px;
    padding-top: 111px;
    padding-bottom: 111px;
}
.half-width h1{
    font-size: 40px;
}
.link{
    background-color: #DD0000;
    padding: 10px 20px;
    border-radius: 10px;
    transition: padding 2s; 
}
.id{
    text-decoration: none;
    color: white;
    font-weight: 700px;
}
.link:hover{
    padding: 30px 30px;
    background-image: linear-gradient(#1A2980, #26D0CE);
}
/* from here second section */
/* will be starting */


.blog{
    display: grid;
    grid-column: auto;
    background-color: black;
    width: 220px;
    height: 220px;
    margin-right: 20px;
    padding-top: 20px;;
    border-radius: 10px;
}
.blog-link{
    text-decoration: none;
    color: black;
    background-color: white;
    margin: 10px;
    width: 200px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
}
#color-blog{
    color: white;
    font-weight: 700;
    background-color: #DD0000;
}
/* transfer related */

.bigger-container{
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 139px;
}
.second-section{
    display: flex;
}
.grid-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}
.grid-box .mo-salah img{
    width: 100%;
    height: auto;
}
.mo-salah{
    border: 1px solid lightgoldenrodyellow;
    border-radius: 10px;
    padding: 10px 10px;
    margin-bottom: 20px;
}
.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Footer styles are here */

.footer{
    background-color: black;
}
hr{
    margin-left: 60px;
    margin-right: 60px;
}
.footer h1{
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: 700;
    padding-top: 60px;
}
.footer div{
    text-align: center;
    padding: 40px 40px;
}
.footer-link{
    color: white;
    font-weight: 700px;
    text-decoration: none;
    padding-right: 30px;
}
.icons{
    font-size: 40px;
    color: white;
    font-weight: 700px;
    padding-right: 60px;
}
/* Media Queries */
/* Mobile Devices */

@media screen and (max-width: 688px) {
    .container{
        display: inline-block;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 5px
    }
    .half-width{
        width: 50%;
        height: auto;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 50px;
    }
    .half-width img{
        width: 100%;
        height: auto;
    }
    .second-section{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-box{
        grid-template-columns: repeat(1, 1fr);
        margin-right: 100px;
    }
    .footer-link{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 40px;
    }
    .icons{
        padding: 20px;
    }
}
/* Tablets */
@media screen and (min-width:689px) and (max-width:992px) {
    .container{
        display: flex;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 5px
    }
    .half-width{
        width: 50%;
        height: auto;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 50px;
    }
    .half-width img{
        width: 100%;
        height: auto;
    }
    .second-section{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-box{
        grid-template-columns: repeat(2, 1fr);
        margin-right: 100px;
    }
    .footer-link{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 40px;
    }
    .icons{
        padding: 20px;
    }
}